<div class="top-menu">
  <a href="/" class="menu__logo top-menu__item">
    <img
      src="https://www.apple.com/ac/globalnav/7/it_IT/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_apple_image__b5er5ngrzxqq_large.svg"
      alt="apple-logo"
    />
  </a>
  <a href="/" class="top-menu__item">Store</a>
  <a href="/" class="top-menu__item">Mac</a>
  <a href="/" class="top-menu__item">iPad</a>
  <a href="/" class="top-menu__item">iPhone</a>
  <a href="/" class="top-menu__item">Watch</a>
  <a href="/" class="top-menu__item">AirPods</a>
  <a href="/" class="top-menu__item">TV & Casa</a>
  <a href="/" class="top-menu__item">Solo con Apple</a>
  <a href="/" class="top-menu__item">Accessori</a>
  <a href="/" class="top-menu__item">Supporto</a>
  <a href="/" class="top-menu__item top-menu__search">
    <img
      src="https://www.apple.com/ac/globalnav/7/it_IT/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_search_image__cbllq1gkias2_large.svg"
      alt=""
    />
  </a>
  <a href="/" class="top-menu__item">
    <img
      src="https://www.apple.com/ac/globalnav/7/it_IT/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_bag_image__yzte50i47ciu_large.svg"
      alt=""
    />
  </a>
</div>
