<div class="hero">
    <div [ngClass]="{ visible: logoVisible }" class="hero__logo">
        <img
            src="https://www.apple.com/v/iphone-14-pro/a/images/overview/hero/hero_logo__d8cdthbobp8i_large.jpg"
            alt="iPhone 14 Pro"
        />
    </div>
    <div class="hero__video-container">
        <video
            *ngIf="videoVisible"
            class="hero__video"
            [muted]="'muted'"
            autoplay
        >
            <source
                src="https://www.apple.com/105/media/it/iphone-14-pro/2022/a3e991f3-071e-454c-b714-1b2319bb97a8/anim/hero/large_2x.mp4"
                type="video/mp4"
            />
        </video>
    </div>

    <div class="first-text">
        <div class="first-text__text">
            Un modo magico e innovativo di interagire con iPhone. Una nuova,
            essenziale funzione per la sicurezza, pensata per salvare vite. Una
            straordinaria fotocamera da 48MP per dettagli da non credere. E
            dietro tutto questo, la potenza del più evoluto chip per smartphone.

            <div
                class="first-text__gradient will-change-transform"
                [ngStyle]="transformFirst()"
            >
                <img
                    src="https://www.apple.com/v/iphone-14-pro/a/images/overview/hero/hero_background__c0w6qmrgcnqu_large.png"
                    alt="first-background"
                />
                <img
                    class="first-text__gradient-reversed"
                    src="https://www.apple.com/v/iphone-14-pro/a/images/overview/hero/hero_background__c0w6qmrgcnqu_large.png"
                    alt="second-background"
                />
            </div>
        </div>
    </div>

    <div class="second-text">
        <div class="second-text__text">
            <h2>
                Pro.
                <br />
                <span>E oltre.</span>
            </h2>
            <p class="second-text__subtext">
                iPhone 14 Pro e iPhone 14 Pro Max
            </p>
            <p>A partire da €55,79 al mese o €1.339 (prezzi senza permuta)*</p>
            <div class="second-text__pricing">
                <a
                    href="https://www.apple.com/105/media/it/iphone-14-pro/2022/a3e991f3-071e-454c-b714-1b2319bb97a8/films/product/iphone-14-pro-product-tpl-it-2022_16x9.m3u8"
                    >Guarda il video</a
                >
                <a href="https://www.apple.com/it/apple-events/"
                    >Guarda l'evento ></a
                >
            </div>
        </div>
        <div class="second-text__gradient">
            <img
                src="https://www.apple.com/v/iphone-14-pro/a/images/overview/hero/hero_background__c0w6qmrgcnqu_large.png"
                alt="first-background"
            />
            <img
                class="second-text__gradient-reversed"
                src="https://www.apple.com/v/iphone-14-pro/a/images/overview/hero/hero_background__c0w6qmrgcnqu_large.png"
                alt="second-background"
            />
        </div>
    </div>
</div>
