<div class="list-container">
    <div class="list-container__left">
        <video *ngIf="!selectedImage" [muted]="'muted'" autoplay>
            <source
                src="https://www.apple.com/105/media/ww/iphone-14-pro/2022/a3e991f3-071e-454c-b714-1b2319bb97a8/anim/design/large_2x.mp4"
                type="video/mp4"
            />
        </video>
        <img
            *ngIf="selectedImage.values().next().value"
            [src]="selectedImage.values().next().value"
        />
    </div>
    <ul class="list-container__right">
        <li
            *ngFor="let image of images | keyvalue; let i = index"
            (click)="selectImage(image.key)"
            [ngClass]="{ active: selectedImage?.has(image.key) }"
        >
            {{ image.key.substring(1) }}
        </li>
    </ul>
</div>
