<div class="list-container">
    <div class="list-container__left">
        <video *ngIf="videoVisible" [muted]="'muted'" autoplay>
            <source
                src="https://www.apple.com/105/media/ww/iphone-14-pro/2022/a3e991f3-071e-454c-b714-1b2319bb97a8/anim/design/large_2x.mp4"
                type="video/mp4"
            />
        </video>
        <img class="active-image" [src]="prevImage?.url" />
        <img
            [ngClass]="imageIsActive ? 'active-image' : ''"
            [src]="selectedImage?.url"
        />
    </div>
    <ul class="list-container__right">
        <li
            *ngFor="let image of images"
            (click)="selectImage(image)"
            [ngClass]="isSelected(image) ? 'active-text' : ''"
        >
            {{ image.name }}
        </li>
    </ul>
</div>
