<div [ngClass]="{ scrolled: isScrolled }" class="bottom-menu">
    <div class="bottom-menu__submenu">
        <a class="bottom-menu__title">iPhone 14 Pro</a>
        <ul class="bottom-menu__list">
            <li class="bottom-menu__list-element">
                <a class="selected" href="/">Panoramica</a>
            </li>
            <li class="bottom-menu__list-element">
                <a href="/">Passare ad iPhone</a>
            </li>
            <li class="bottom-menu__list-element"><a href="/">Specifiche</a></li>
            <li class="bottom-menu__list-element button">
                <a href="/">Acquista</a>
            </li>
        </ul>
    </div>
</div>
