.bottom-menu{
    position: sticky;
    top:0;
    margin-top: 44px;
    height: 52px;
    width: 980px;
    margin-inline: auto;
    border-bottom: .5px solid hsla(0, 0%, 96%, 30%);
    background-color: black;
    z-index: 100;
    transition: background-color .5s ease-out;
}

.bottom-menu__submenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 980px;
    height: 100%;
    margin-inline: auto;
}

.scrolled{
    width: 100%;
    background-color: hsla(240, 2%, 8%, 80%);
    backdrop-filter: blur(10px);
    transition: background-color .5s ease-in;
}

.bottom-menu__title{
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0px;
    cursor: pointer;
}

.bottom-menu__list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;

    li {
        a{
            &:hover{
                color: hsl(210, 100%, 45%);
            }
        }
    }
}

.button{
    background-color: hsl(210, 100%, 45%);
    padding: .15em .8em;
    border-radius: 50px;
    cursor: pointer;

    &:hover{
        background-color: hsl(210, 100%, 50%);
    }

    a{
        color: white;
        &:hover{
            color: white !important;
        }
    }
}

.selected{
    a{
        color: hsl(240, 4%, 50%);
        cursor: default;
    }
}